---
import Layout from '@ui/layouts/Layout.astro';
import Header from '@ui/Header/Header.astro'
import Footer from '@ui/Footer/Footer.astro'
---

<Layout title="Welcome to My Portofolio.">
	<main>
		<Header />
        <slot />
        <Footer />
    </main>
</Layout>
