---
const paths = [
  {
    name: "Home",
    path: "/",
  },
  {
    name: "About",
    path: "/about/",
  },
];
---

<header class="sticky top-0 z-10 bg-white">
    <div class="flex p-6 w-full shadow-header justify-between items-center ">
        <span class="font-bold text-2xl text-black">Tama.dev</span>
        <div class="flex gap-4">
            {paths.map((path) => (
                <a
                  href={path.path}
                  class={`${Astro.url.pathname == path.path ? "font-bold" : "font-normal"}
                        text-black
                    `}
                >
                  {path.name}
                </a>
              ))}
        </div>
    </div>
</header>