---
import Layout from '@ui/layouts/Layout.astro';
import ProjectsCards from '@features/work/projects-cards/Projects.astro';
---

<Layout title="Projects | Ardy Putra Utama">
  <div class="flex flex-col gap-4 px-8 py-8 text-center text-black">
    <span class="text-[48px] font-bold">Hi There! <br />Ardy's Here</span>
    <p class="text-[20px] font-medium">Passionate for Interactive, Impactful, and Great Website.</p>
  </div>
  <div
    class="flex h-screen flex-col items-center justify-center gap-4 bg-blue-primary text-center text-white"
  >
    <span class="text-[20px] font-bold">Work.</span>
    <span class="text-2xl font-bold">Let’s Collaborate<br /> For Something Great.</span>
    <ProjectsCards />
  </div>
</Layout>
