---
import { Image } from 'astro:assets';
import GithubIcon from '@icons/mdi_github.svg';
import LinkedinIcon from '@icons/mdi_linkedin.svg';
---

<div class="flex items-start gap-4 bg-black p-6">
  <Image src={GithubIcon} alt="github" width="24" />
  <Image src={LinkedinIcon} alt="Linkedin" width="24" />
  <p class="text-disabled">© 2023 Ardy Putra Utama</p>
</div>
